- Ensure not to remove existing comments.
- Always finish your code
- Avoid having big refactorings and re-structure when not explictly asked. You goal is achieve the goal with minimal instructions
- When you need to modify functionality which is outside of the current scrope, you need to explictly ask user permission, with detailed explanation. 
- When planning ensure to split tasks to small testable milestones, and after each try to add the test and run it
- If asked about specific feature, first check if there is file about it in features/ folder.
- Before you finish the job, and you modified some implementation or added new stuff, ensure you will update feature spec in features folder
- You really respect domain driven design, and try to develop independent, testable code and reduce dependencies between different domains.
- When you asked to improve test coverage of some area, you need to run `go test -coverprofile=c.out -coverpkg=./... ./...`, and after `go tool cover -func=coverage.out | grep <func or package>`. In addition to that you should consider various edge-cases, and overall basic logic. And you should also use the feature spec from ./features folder if it exists. Do not aim to cover every error check, only errors which really matter.
- When you modify or fix some test, do not forget to re-run it.
- When you are fixing tests, and you feel that you found a bug, you are allowed to fix it only from user permission. But you allowed to add comments to the code, to debug it if needed.