# SMTP_SERVER=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASS=
ALLOW_REGISTRATIONS=true
ADMIN_EMAIL=you@tyk.io
SITE_URL=http://localhost:3000
FROM_EMAIL=noreply@tyk.io
DEVMODE=true
DATABASE_URL=midsommar.db
DATABASE_TYPE=sqlite
TYK_AI_SECRET_KEY=a35b3f7b0fb4dd3a048ba4fc6e9fe0a8cb804d7884c62b6b2ea09c99612c4405
FILTER_SIGNUP_DOMAINS=tyk.io
TYK_AI_LICENSE=XXXX
ADMIN_API_KEY=CHANGEME
