# SMTP_SERVER=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASS=
ALLOW_REGISTRATIONS=true
SITE_URL=http://localhost:3000
FROM_EMAIL=noreply@tyk.io
DEVMODE=true
DEBUG_HTTP=false
DEBUG_HTTP_PROXY=false
DATABASE_URL=midsommar.db
DATABASE_TYPE=sqlite
ECHO_CONVERSATION=true
TYK_AI_SECRET_KEY=your-secret-key-here  # Can be any string, used for encrypting secrets
DOCS_URL=http://localhost:8989
PROXY_URL=http://localhost:9090
FILTER_SIGNUP_DOMAINS=tyk.io
TYK_AI_LICENSE=XXXX
DEFAULT_SIGNUP_MODE="both"
TIB_ENABLED=true
LICENSE_DISABLE_TELEMETRY=true

