.zed
.env
.aider*
*.db
midsommar
tools/gendata/gendata
utils/transformer-host/server
utils/proxy-tests/openai/openai
utils/proxy-tests/anthropic/anthropic
utils/proxy-tests/vertex/vertex
tmp/
venv
extra/reranker/reranker
compose.prod.yaml
licensing/keys
docs/site/public/*
docs/site/resources
