{
  "openapi": "3.0.0",
  "info": {
    "title": "Support API",
    "description": "Zendesk Support API endpoints",
    "contact": {},
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://tyksupport.zendesk.com",
      "variables": {}
    }
  ],
  "paths": {
    "/api/v2/attachments/{attachment_id}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "ShowAttachment",
        "description": "Shows attachment details. You can get the value of the `attachment_id` parameter by listing the ticket's comments.\nSee [List Comments](/api-reference/ticketing/tickets/ticket_comments/#list-comments). Each comment\nin the list has an `attachments` list that specifies an `id` for each attachment.\n\n\n #### Allowed for\n\n * Agents\n",
        "operationId": "ShowAttachment",
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The ID of the attachment",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 498483
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AttachmentResponse"
                    },
                    {
                      "example": {
                        "attachment": {
                          "content_type": "application/binary",
                          "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                          "file_name": "myfile.dat",
                          "id": 498483,
                          "size": 2532,
                          "thumbnails": [],
                          "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "attachment": {
                        "content_type": "application/binary",
                        "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                        "file_name": "myfile.dat",
                        "id": 498483,
                        "size": 2532,
                        "thumbnails": [],
                        "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Attachments"
        ],
        "summary": "UpdateAttachment",
        "description": "Toggles enabling or restricting agent access to attachments with detected malware.\n\n#### Allowed For\n\n* Admins\n",
        "operationId": "UpdateAttachment",
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The ID of the attachment",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 498483
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AttachmentUpdateRequest"
                  },
                  {
                    "example": {
                      "attachment": {
                        "malware_access_override": true
                      }
                    }
                  }
                ]
              },
              "examples": {
                "default": {
                  "value": {
                    "attachment": {
                      "malware_access_override": true
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AttachmentResponse"
                    },
                    {
                      "example": {
                        "attachment": {
                          "content_type": "application/binary",
                          "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                          "file_name": "myfile.dat",
                          "id": 498483,
                          "size": 2532,
                          "thumbnails": [],
                          "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "attachment": {
                        "content_type": "application/binary",
                        "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                        "file_name": "myfile.dat",
                        "id": 498483,
                        "size": 2532,
                        "thumbnails": [],
                        "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tickets/{ticket_id}/comments/{comment_id}/attachments/{attachment_id}/redact": {
      "put": {
        "tags": [
          "Attachments"
        ],
        "summary": "RedactCommentAttachment",
        "description": "Redaction allows you to permanently remove attachments from an existing comment on a ticket. Once removed from a comment, the attachment is replaced with an empty \"redacted.txt\" file.\n\nThe redaction is permanent. It is not possible to undo redaction or see what was removed. Once a ticket is closed, redacting its attachments is no longer possible.\n\nAlso, if you want to redact an inline attachment, you can use the `include_inline_images` parameter in the [List Comments](/api-reference/ticketing/tickets/ticket_comments/#list-comments) operation to obtain the inline attachment ID, and use it in the request URL.\n\n#### Allowed For\n\n* Admins\n* Agents when [deleting tickets is enabled for agents on professional accounts](https://support.zendesk.com/hc/en-us/articles/360002128107)\n* Agents assigned to a custom role with permissions to redact ticket content (Enterprise only)\n",
        "operationId": "RedactCommentAttachment",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "The ID of the ticket",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123456
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "description": "The ID of the comment",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 654321
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The ID of the attachment",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 498483
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AttachmentResponse"
                    },
                    {
                      "example": {
                        "attachment": {
                          "content_type": "application/binary",
                          "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                          "file_name": "myfile.dat",
                          "id": 498483,
                          "size": 2532,
                          "thumbnails": [],
                          "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "attachment": {
                        "content_type": "application/binary",
                        "content_url": "https://company.zendesk.com/attachments/myfile.dat",
                        "file_name": "myfile.dat",
                        "id": 498483,
                        "size": 2532,
                        "thumbnails": [],
                        "url": "https://company.zendesk.com/api/v2/attachments/498483.json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/uploads": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "UploadFiles",
        "description": "Uploads a file that can be attached to a ticket comment. It doesn't attach the file to the comment. For details and examples, see [Attaching ticket comments with the API](/documentation/ticketing/using-the-zendesk-api/adding-ticket-attachments-with-the-api).\n\nThe endpoint has a required `filename` query parameter. The parameter specifies what the file will be named when attached to the ticket comment (to give the agent more context about the file). The parameter does not specify the file on the local system to be uploaded. While the two names can be different, their file extensions must be the same. If they don't match, the agent's browser or file reader could give an error when attempting to open the attachment.\n\nThe `Content-Type` header must contain a recognized MIME type that correctly describes the type of the uploaded file. Failing to send a recognized, correct type may cause undesired behavior. For example, in-browser audio playback may be interrupted by the browser's security mechanisms for MP3s uploaded with an incorrect type.\n\nAdding multiple files to the same upload is handled by splitting requests and passing the API token received from the first request to each subsequent request. The token is valid for 3 days.\n\n**Note**: Even if [private attachments](https://support.zendesk.com/hc/en-us/articles/204265396) are enabled in the Zendesk Support instance, uploaded files are visible to any authenticated user at the `content_URL` specified in the [JSON response](#json-format) until the upload token is consumed. Once a file is associated with a ticket or post, visibility is restricted to users with access to the ticket or post with the attachment.\n\n#### Allowed For\n\n* End users\n",
        "operationId": "UploadFiles",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AttachmentUploadResponse"
                    },
                    {
                      "example": {
                        "upload": {
                          "attachment": {
                            "content_type": "image/png",
                            "content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                            "deleted": false,
                            "file_name": "crash.png",
                            "height": "62",
                            "id": 1503729607981,
                            "inline": false,
                            "mapped_content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                            "size": 5172,
                            "thumbnails": [],
                            "url": "https://company.zendesk.com/api/v2/attachments/1503729607981.json",
                            "width": "80"
                          },
                          "attachments": [
                            {
                              "content_type": "image/png",
                              "content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                              "deleted": false,
                              "file_name": "crash.png",
                              "height": "62",
                              "id": 1503729607981,
                              "inline": false,
                              "mapped_content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                              "size": 5172,
                              "thumbnails": [],
                              "url": "https://company.zendesk.com/api/v2/attachments/1503729607981.json",
                              "width": "80"
                            }
                          ],
                          "token": "LXJdriewLBP8JrtzzkN7Ne4k6"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "upload": {
                        "attachment": {
                          "content_type": "image/png",
                          "content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                          "deleted": false,
                          "file_name": "crash.png",
                          "height": "62",
                          "id": 1503729607981,
                          "inline": false,
                          "mapped_content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                          "size": 5172,
                          "thumbnails": [],
                          "url": "https://company.zendesk.com/api/v2/attachments/1503729607981.json",
                          "width": "80"
                        },
                        "attachments": [
                          {
                            "content_type": "image/png",
                            "content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                            "deleted": false,
                            "file_name": "crash.png",
                            "height": "62",
                            "id": 1503729607981,
                            "inline": false,
                            "mapped_content_url": "https://company.zendesk.com/attachments/token/tyBq1ms40dFaHefSIigxZpwGg/?name=crash.png",
                            "size": 5172,
                            "thumbnails": [],
                            "url": "https://company.zendesk.com/api/v2/attachments/1503729607981.json",
                            "width": "80"
                          }
                        ],
                        "token": "LXJdriewLBP8JrtzzkN7Ne4k6"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/uploads/{token}": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "DeleteUpload",
        "description": "#### Allowed for\n\n* End Users\n",
        "operationId": "DeleteUpload",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The token of the uploaded attachment",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "6bk3gql82em5nmf"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "ListSessions",
        "description": "If authenticated as an admin, returns all the account's sessions. If authenticated as an agent or end user, returns only the sessions of the user making the request.\n\n#### Pagination\n\n- Cursor pagination (recommended)\n- Offset pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n\n#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "ListSessions",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The id of the user",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 35436
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SessionsResponse"
                    },
                    {
                      "example": {
                        "sessions": [
                          {
                            "authenticated_at": "2014-11-18T17:24:29Z",
                            "id": 3432,
                            "last_seen_at": "2014-11-18T17:30:52Z",
                            "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                            "user_id": 12345
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "sessions": [
                        {
                          "authenticated_at": "2014-11-18T17:24:29Z",
                          "id": 3432,
                          "last_seen_at": "2014-11-18T17:30:52Z",
                          "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                          "user_id": 12345
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users/{user_id}/sessions": {
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "BulkDeleteSessionsByUserId",
        "description": "Deletes all the sessions for a user.\n\n#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "BulkDeleteSessionsByUserId",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The id of the user",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 35436
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users/{user_id}/sessions/{session_id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "ShowSession",
        "description": "#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "ShowSession",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 14
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "The id of the user",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 35436
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SessionResponse"
                    },
                    {
                      "example": {
                        "session": [
                          {
                            "authenticated_at": "2014-11-18T17:24:29Z",
                            "id": 3432,
                            "last_seen_at": "2014-11-18T17:30:52Z",
                            "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                            "user_id": 12345
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "session": [
                        {
                          "authenticated_at": "2014-11-18T17:24:29Z",
                          "id": 3432,
                          "last_seen_at": "2014-11-18T17:30:52Z",
                          "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                          "user_id": 12345
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "DeleteSession",
        "description": "#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "DeleteSession",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 14
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "The id of the user",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 35436
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users/me/logout": {
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "DeleteAuthenticatedSession",
        "description": "Deletes the current session. In practice, this only works when using session auth for requests, such as client-side requests\nmade from a Zendesk app. When using OAuth or basic authentication, you don't have a current session so this endpoint has no effect.\n\n#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "DeleteAuthenticatedSession",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users/me/session": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "ShowCurrentlyAuthenticatedSession",
        "description": "#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "ShowCurrentlyAuthenticatedSession",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SessionResponse"
                    },
                    {
                      "example": {
                        "session": [
                          {
                            "authenticated_at": "2014-11-18T17:24:29Z",
                            "id": 3432,
                            "last_seen_at": "2014-11-18T17:30:52Z",
                            "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                            "user_id": 12345
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "session": [
                        {
                          "authenticated_at": "2014-11-18T17:24:29Z",
                          "id": 3432,
                          "last_seen_at": "2014-11-18T17:30:52Z",
                          "url": "https://company.zendesk.com/api/v2/users/12345/sessions/3432.json",
                          "user_id": 12345
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users/me/session/renew": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "RenewCurrentSession",
        "description": "#### Allowed For\n\n* Admins, Agents, End users\n",
        "operationId": "RenewCurrentSession",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RenewSessionResponse"
                    },
                    {
                      "example": {
                        "authenticity_token": "huU19Z76zNC9Yvt+i9p7MviIOlOIg/JWqEdf6nGmnu9JInV04fksCIdtNDvoYAoV"
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "authenticity_token": "huU19Z76zNC9Yvt+i9p7MviIOlOIg/JWqEdf6nGmnu9JInV04fksCIdtNDvoYAoV"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/trigger_categories": {
      "get": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "ListTriggerCategories",
        "description": "Returns all the ticket trigger categories in the account.\n\n#### Pagination\n\n* Cursor pagination (recommended)\n* Offset pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n",
        "operationId": "ListTriggerCategories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/page"
                },
                {
                  "description": "Pagination parameters",
                  "example": {
                    "after": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                    "before": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                    "size": 50
                  }
                }
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/sort"
                },
                {
                  "description": "Sort parameters"
                }
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Allowed sideloads",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/include"
                },
                {
                  "description": "Allowed sideloads"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of ticket trigger categories",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiV2TriggerCategoriesResponse"
                    },
                    {
                      "example": {
                        "links": {
                          "next": "https://{subdomain}.zendesk.com/api/v2/trigger_categories.json?include=rule_counts&page[after]=eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9&page[size]=2&sort=position",
                          "prev": "https://{subdomain}.zendesk.com/api/v2/trigger_categories.json?include=rule_counts&page[before]=eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9&page[size]=2&sort=position"
                        },
                        "meta": {
                          "after_cursor": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                          "before_cursor": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                          "has_more": true
                        },
                        "trigger_categories": [
                          {
                            "created_at": "2020-07-17T01:30:07Z",
                            "id": "10001",
                            "name": "Email Triggers",
                            "position": 0,
                            "updated_at": "2020-07-17T01:30:07Z"
                          },
                          {
                            "created_at": "2020-07-17T01:30:07Z",
                            "id": "10002",
                            "name": "SMS Triggers",
                            "position": 1,
                            "updated_at": "2020-07-17T01:30:07Z"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "links": {
                    "next": "https://{subdomain}.zendesk.com/api/v2/trigger_categories.json?include=rule_counts&page[after]=eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9&page[size]=2&sort=position",
                    "prev": "https://{subdomain}.zendesk.com/api/v2/trigger_categories.json?include=rule_counts&page[before]=eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9&page[size]=2&sort=position"
                  },
                  "meta": {
                    "after_cursor": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                    "before_cursor": "eyJvIjoiLXNjb3JlLGlkIiwidiI6ImFRSUFBQUFBQUFBQWFRMHBJUUVBQUFBQSJ9",
                    "has_more": true
                  },
                  "trigger_categories": [
                    {
                      "created_at": "2020-07-17T01:30:07Z",
                      "id": "10001",
                      "name": "Email Triggers",
                      "position": 0,
                      "updated_at": "2020-07-17T01:30:07Z"
                    },
                    {
                      "created_at": "2020-07-17T01:30:07Z",
                      "id": "10002",
                      "name": "SMS Triggers",
                      "position": 1,
                      "updated_at": "2020-07-17T01:30:07Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "InvalidPaginationParameter",
                            "title": "page[after] is not valid"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "InvalidPaginationParameter",
                      "title": "page[after] is not valid"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoriesNotEnabled",
                            "title": "Ticket trigger categories are not enabled for your account"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoriesNotEnabled",
                      "title": "Ticket trigger categories are not enabled for your account"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "CreateTriggerCategory",
        "description": "Creates a ticket trigger category.",
        "operationId": "CreateTriggerCategory",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiV2TriggerCategoriesRequest"
                  },
                  {
                    "example": {
                      "trigger_category": {
                        "name": "All Notification Triggers",
                        "position": 0
                      }
                    }
                  }
                ]
              },
              "example": {
                "trigger_category": {
                  "name": "All Notification Triggers",
                  "position": 0
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created ticket trigger category",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TriggerCategoryResponse"
                    },
                    {
                      "example": {
                        "trigger_category": {
                          "created_at": "2020-07-17T01:30:07Z",
                          "id": "10001",
                          "name": "All Notification Triggers",
                          "position": 0,
                          "updated_at": "2020-07-17T01:30:07Z"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "trigger_category": {
                    "created_at": "2020-07-17T01:30:07Z",
                    "id": "10001",
                    "name": "All Notification Triggers",
                    "position": 0,
                    "updated_at": "2020-07-17T01:30:07Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "InvalidTriggerCategory",
                            "title": "Name cannot be blank"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "InvalidTriggerCategory",
                      "title": "Name cannot be blank"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoriesNotEnabled",
                            "title": "Ticket trigger categories are not enabled for your account"
                          },
                          {
                            "code": "ProductLimitExceeded",
                            "title": "Your account has reached the limit of 500 ticket trigger categories."
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoriesNotEnabled",
                      "title": "Ticket trigger categories are not enabled for your account"
                    },
                    {
                      "code": "ProductLimitExceeded",
                      "title": "Your account has reached the limit of 500 ticket trigger categories."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/trigger_categories/{trigger_category_id}": {
      "get": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "ShowTriggerCategoryById",
        "description": "Returns the ticket trigger category with the specified ID.",
        "operationId": "ShowTriggerCategoryById",
        "parameters": [
          {
            "name": "trigger_category_id",
            "in": "path",
            "description": "The id of the ticket trigger category to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "10001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested ticket trigger category",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TriggerCategoryResponse"
                    },
                    {
                      "example": {
                        "trigger_category": {
                          "created_at": "2020-07-17T01:30:07Z",
                          "id": "10001",
                          "name": "All Notification Triggers",
                          "position": 0,
                          "updated_at": "2020-07-17T01:30:07Z"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "trigger_category": {
                    "created_at": "2020-07-17T01:30:07Z",
                    "id": "10001",
                    "name": "All Notification Triggers",
                    "position": 0,
                    "updated_at": "2020-07-17T01:30:07Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoryNotFound",
                            "title": "Category can't be found. Check the ID and try again."
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoryNotFound",
                      "title": "Category can't be found. Check the ID and try again."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "UpdateTriggerCategory",
        "description": "Updates the ticket trigger category with the specified ID.",
        "operationId": "UpdateTriggerCategory",
        "parameters": [
          {
            "name": "trigger_category_id",
            "in": "path",
            "description": "The id of the ticket trigger category to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "10001"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiV2TriggerCategoriesRequest1"
                  },
                  {
                    "example": {
                      "trigger_category": {
                        "name": "All Notification Triggers Updated",
                        "position": 10
                      }
                    }
                  }
                ]
              },
              "example": {
                "trigger_category": {
                  "name": "All Notification Triggers Updated",
                  "position": 10
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated trigger category",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TriggerCategoryResponse"
                    },
                    {
                      "example": {
                        "trigger_category": {
                          "created_at": "2020-07-17T01:30:07Z",
                          "id": "10001",
                          "name": "All Notification Triggers Updated",
                          "position": 10,
                          "updated_at": "2020-07-18T05:23:32Z"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "trigger_category": {
                    "created_at": "2020-07-17T01:30:07Z",
                    "id": "10001",
                    "name": "All Notification Triggers Updated",
                    "position": 10,
                    "updated_at": "2020-07-18T05:23:32Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "InvalidTriggerCategory",
                            "title": "Name cannot be blank"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "InvalidTriggerCategory",
                      "title": "Name cannot be blank"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoryNotFound",
                            "title": "Category can't be found. Check the ID and try again."
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoryNotFound",
                      "title": "Category can't be found. Check the ID and try again."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "DeleteTriggerCategory",
        "description": "Deletes the ticket trigger category with the specified ID.",
        "operationId": "DeleteTriggerCategory",
        "parameters": [
          {
            "name": "trigger_category_id",
            "in": "path",
            "description": "The id of the ticket trigger category to delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "10001"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoryNotEmpty",
                            "title": "A category with active ticket triggers cannot be deleted."
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoryNotEmpty",
                      "title": "A category with active ticket triggers cannot be deleted."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Errors"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "TriggerCategoryNotFound",
                            "title": "Category can't be found. Check the ID and try again."
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "TriggerCategoryNotFound",
                      "title": "Category can't be found. Check the ID and try again."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/trigger_categories/jobs": {
      "post": {
        "tags": [
          "Trigger Categories"
        ],
        "summary": "BatchOperateTriggerCategories",
        "description": "Creates a job that performs a batch operation for the given ticket trigger categories.",
        "operationId": "BatchOperateTriggerCategories",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BatchJobRequest"
                  },
                  {
                    "example": {
                      "job": {
                        "action": "patch",
                        "items": {
                          "trigger_categories": [
                            {
                              "id": "10001",
                              "position": 0
                            },
                            {
                              "id": "10002",
                              "position": 1
                            }
                          ],
                          "triggers": [
                            {
                              "active": false,
                              "category_id": "10001",
                              "id": "10011",
                              "position": 10
                            },
                            {
                              "active": true,
                              "category_id": "10002",
                              "id": "10012",
                              "position": 1
                            }
                          ]
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "job": {
                  "action": "patch",
                  "items": {
                    "trigger_categories": [
                      {
                        "id": "10001",
                        "position": 0
                      },
                      {
                        "id": "10002",
                        "position": 1
                      }
                    ],
                    "triggers": [
                      {
                        "active": false,
                        "category_id": "10001",
                        "id": "10011",
                        "position": 10
                      },
                      {
                        "active": true,
                        "category_id": "10002",
                        "id": "10012",
                        "position": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The response to the batch job",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BatchJobResponse"
                    },
                    {
                      "example": {
                        "results": {
                          "trigger_categories": [
                            {
                              "created_at": "2020-07-18T01:24:53Z",
                              "id": "10001",
                              "name": "Notifications",
                              "position": 0,
                              "updated_at": "2020-07-20T01:30:07Z"
                            },
                            {
                              "created_at": "2020-07-17T06:31:12Z",
                              "id": "10002",
                              "name": "Apply Tags",
                              "position": 1,
                              "updated_at": "2020-07-20T01:30:07Z"
                            }
                          ],
                          "triggers": [
                            {
                              "actions": [
                                {}
                              ],
                              "active": true,
                              "conditions": {},
                              "created_at": "2012-09-25T22:50:26Z",
                              "description": "Notify external target",
                              "id": 10012,
                              "position": 1,
                              "raw_title": "Notify target",
                              "title": "Notify Target",
                              "updated_at": "2020-07-20T01:30:07Z",
                              "url": "http://{subdomain}.zendesk.com/api/v2/triggers/10012.json"
                            },
                            {
                              "actions": [
                                {}
                              ],
                              "active": false,
                              "conditions": {},
                              "created_at": "2012-09-25T22:50:26Z",
                              "description": "Close and save a ticket",
                              "id": 10011,
                              "position": 10,
                              "raw_title": "Close and Save",
                              "title": "Close and Save",
                              "updated_at": "2020-07-20T01:30:07Z",
                              "url": "http://{subdomain}.zendesk.com/api/v2/triggers/10011.json"
                            }
                          ]
                        },
                        "status": "complete"
                      }
                    }
                  ]
                },
                "example": {
                  "results": {
                    "trigger_categories": [
                      {
                        "created_at": "2020-07-18T01:24:53Z",
                        "id": "10001",
                        "name": "Notifications",
                        "position": 0,
                        "updated_at": "2020-07-20T01:30:07Z"
                      },
                      {
                        "created_at": "2020-07-17T06:31:12Z",
                        "id": "10002",
                        "name": "Apply Tags",
                        "position": 1,
                        "updated_at": "2020-07-20T01:30:07Z"
                      }
                    ],
                    "triggers": [
                      {
                        "actions": [
                          {}
                        ],
                        "active": true,
                        "conditions": {},
                        "created_at": "2012-09-25T22:50:26Z",
                        "description": "Notify external target",
                        "id": 10012,
                        "position": 1,
                        "raw_title": "Notify target",
                        "title": "Notify Target",
                        "updated_at": "2020-07-20T01:30:07Z",
                        "url": "http://{subdomain}.zendesk.com/api/v2/triggers/10012.json"
                      },
                      {
                        "actions": [
                          {}
                        ],
                        "active": false,
                        "conditions": {},
                        "created_at": "2012-09-25T22:50:26Z",
                        "description": "Close and save a ticket",
                        "id": 10011,
                        "position": 10,
                        "raw_title": "Close and Save",
                        "title": "Close and Save",
                        "updated_at": "2020-07-20T01:30:07Z",
                        "url": "http://{subdomain}.zendesk.com/api/v2/triggers/10011.json"
                      }
                    ]
                  },
                  "status": "complete"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BatchJobResponse"
                    },
                    {
                      "example": {
                        "errors": [
                          {
                            "code": "InvalidTrigger",
                            "title": "category_id is not valid",
                            "trigger_id": "10001"
                          }
                        ],
                        "status": "failed"
                      }
                    }
                  ]
                },
                "example": {
                  "errors": [
                    {
                      "code": "InvalidTrigger",
                      "title": "category_id is not valid",
                      "trigger_id": "10001"
                    }
                  ],
                  "status": "failed"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/autocomplete/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "AutocompleteTags",
        "description": "Returns an array of registered and recent tag names that start with the characters specified in the `name` query parameter. You must specify at least 2 characters.\n\n#### Pagination\n\n* Offset pagination only\n\nSee [Using Offset Pagination](/api-reference/ticketing/introduction/#using-offset-pagination).\n\n\n#### Allowed For\n\n* Agents\n",
        "operationId": "AutocompleteTags",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A substring of a tag to search for",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "att"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagsByObjectIdResponse"
                    },
                    {
                      "example": {
                        "tags": [
                          "attention",
                          "attack"
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "tags": [
                        "attention",
                        "attack"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "ListTags",
        "description": "Lists up to the 20,000 most popular tags in the last 60 days, in decreasing popularity.\n\n#### Pagination\n\n* Cursor pagination (recommended)\n* Offset pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n\nReturns a maximum of 100 records per page.\n\n#### Allowed For\n\n* Agents\n",
        "operationId": "ListTags",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagsResponse"
                    },
                    {
                      "example": {
                        "count": 1,
                        "next_page": null,
                        "previous_page": null,
                        "tags": [
                          {
                            "count": 10,
                            "name": "Triage"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "count": 1,
                      "next_page": null,
                      "previous_page": null,
                      "tags": [
                        {
                          "count": 10,
                          "name": "Triage"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tags/count": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "CountTags",
        "description": "Returns an approximate count of tags. If the count exceeds 100,000, it\nis updated every 24 hours.\n\nThe `refreshed_at` property of the `count` object is a timestamp that indicates when\nthe count was last updated.\n\n**Note**: When the count exceeds 100,000, the `refreshed_at` property in the `count` object may\noccasionally be null. This indicates that the count is being\nupdated in the background and the `value` property in the `count` object is limited to\n100,000 until the update is complete.\n\n#### Allowed For\n\n* Agents\n",
        "operationId": "CountTags",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagCountResponse"
                    },
                    {
                      "example": {
                        "count": {
                          "refreshed_at": "2020-04-06T02:18:17Z",
                          "value": 102
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "count": {
                        "refreshed_at": "2020-04-06T02:18:17Z",
                        "value": 102
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tickets/{ticket_id}/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "ListResourceTags",
        "description": "#### Allowed For\n\n* Agents\n",
        "operationId": "ListResourceTags",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "The ID of the ticket",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123456
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagsByObjectIdResponse"
                    },
                    {
                      "example": {
                        "tags": [
                          "urgent",
                          "printer",
                          "fire"
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "tags": [
                        "urgent",
                        "printer",
                        "fire"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "SetTagsTicket",
        "description": "#### Allowed For\n\n* Agents\n",
        "operationId": "SetTagsTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "The ID of the ticket",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123456
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagsByObjectIdResponse"
                    },
                    {
                      "example": {
                        "tags": [
                          "urgent",
                          "printer",
                          "fire"
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "tags": [
                        "urgent",
                        "printer",
                        "fire"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "PutTagsTicket",
        "description": "You can also add tags to multiple tickets with the [Update Many\nTickets](/api-reference/ticketing/tickets/tickets/#update-many-tickets) endpoint.\n\n#### Safe Update\n\nIf the same ticket is updated by multiple API requests at\nthe same time, some tags could be lost because of ticket\nupdate collisions. Include `updated_stamp` and `safe_update`\nproperties in the request body to make a safe update.\n\nFor `updated_stamp`, retrieve and specify the ticket's\nlatest `updated_at` timestamp. The tag update only occurs\nif the `updated_stamp` timestamp matches the ticket's\nactual `updated_at` timestamp at the time of the request.\nIf the timestamps don't match (in other words, if the\nticket was updated since you retrieved the ticket's\nlast `updated_at` timestamp), the request returns a\n409 Conflict error.\n\n#### Example\n\n```js\n{\n  \"tags\": [\"customer\"],\n  \"updated_stamp\":\"2019-09-12T21:45:16Z\",\n  \"safe_update\":\"true\"\n}\n```\n\nFor details, see [Protecting against ticket update collisions](/api-reference/ticketing/tickets/tickets/#protecting-against-ticket-update-collisions).\n\n#### Allowed For\n\n* Agents\n",
        "operationId": "PutTagsTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "The ID of the ticket",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123456
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TagsByObjectIdResponse"
                    },
                    {
                      "example": {
                        "tags": [
                          "urgent",
                          "printer",
                          "fire"
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "tags": [
                        "urgent",
                        "printer",
                        "fire"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "DeleteTagsTicket",
        "description": "You can also delete tags from multiple tickets with the\n[Update Many Tickets](/api-reference/ticketing/tickets/tickets/#update-many-tickets) endpoint.\n\nThis endpoint supports safe updates. See [Safe Update](/api-reference/ticketing/ticket-management/tags/#safe-update).\n\n#### Allowed For\n\n* Agents\n",
        "operationId": "DeleteTagsTicket",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "description": "The ID of the ticket",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 123456
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/targets": {
      "get": {
        "tags": [
          "Targets"
        ],
        "summary": "ListTargets",
        "description": "#### Allowed For\n\n* Agents\n",
        "operationId": "ListTargets",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Targets"
        ],
        "summary": "CreateTarget",
        "description": "#### Allowed For\n\n* Admins\n",
        "operationId": "CreateTarget",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/targets/{target_id}": {
      "get": {
        "tags": [
          "Targets"
        ],
        "summary": "ShowTarget",
        "description": "#### Allowed For\n\n* Agents\n",
        "operationId": "ShowTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "The ID of the target",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 211
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Targets"
        ],
        "summary": "UpdateTarget",
        "description": "#### Allowed For\n* Admins\n",
        "operationId": "UpdateTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "The ID of the target",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 211
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Targets"
        ],
        "summary": "DeleteTarget",
        "description": "#### Allowed For\n* Admins\n",
        "operationId": "DeleteTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "The ID of the target",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 211
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/target_failures": {
      "get": {
        "tags": [
          "Target Failures"
        ],
        "summary": "ListTargetFailures",
        "description": "Returns the 25 most recent target failures, per target.\n\n#### Stability\n\n* Development\n\n#### Allowed For\n\n* Admins\n",
        "operationId": "ListTargetFailures",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TargetFailuresResponse"
                    },
                    {
                      "example": {
                        "target_failures": [
                          {
                            "id": 1,
                            "status_code": 401,
                            "target_name": "My URL Target"
                          },
                          {
                            "id": 2,
                            "status_code": 401,
                            "target_name": "My URL Target"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "target_failures": [
                        {
                          "id": 1,
                          "status_code": 401,
                          "target_name": "My URL Target"
                        },
                        {
                          "id": 2,
                          "status_code": 401,
                          "target_name": "My URL Target"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/target_failures/{target_failure_id}": {
      "get": {
        "tags": [
          "Target Failures"
        ],
        "summary": "ShowTargetFailure",
        "description": "#### Stability\n\n* Development\n\n#### Allowed For\n\n* Admins\n",
        "operationId": "ShowTargetFailure",
        "parameters": [
          {
            "name": "target_failure_id",
            "in": "path",
            "description": "The ID of the target failure",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TargetFailureResponse"
                    },
                    {
                      "example": {
                        "target_failure": {
                          "id": 1,
                          "raw_request": "GET /api/v2/tickets.json HTTP/1.1\r\nUser-Agent: Zendesk Target\r\n ...",
                          "raw_response": "HTTP/1.1 401 Unauthorized\r\nServer: nginx\r\n ...",
                          "status_code": 401,
                          "target_name": "My URL Target"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "target_failure": {
                        "id": 1,
                        "raw_request": "GET /api/v2/tickets.json HTTP/1.1\r\nUser-Agent: Zendesk Target\r\n ...",
                        "raw_response": "HTTP/1.1 401 Unauthorized\r\nServer: nginx\r\n ...",
                        "status_code": 401,
                        "target_name": "My URL Target"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/job_statuses": {
      "get": {
        "tags": [
          "Job Statuses"
        ],
        "summary": "ListJobStatuses",
        "description": "Shows the statuses for background jobs. Statuses are sorted first by completion date and then by creation date in descending order.\n\n#### Allowed For:\n\n* Agents\n\n#### Pagination\n\n* Cursor pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n",
        "operationId": "ListJobStatuses",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusesResponse"
                    },
                    {
                      "example": {
                        "job_statuses": [
                          {
                            "id": "8b726e606741012ffc2d782bcb7848fe",
                            "status": "completed"
                          },
                          {
                            "id": "e7665094164c498781ebe4c8db6d2af5",
                            "status": "completed"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "job_statuses": [
                        {
                          "id": "8b726e606741012ffc2d782bcb7848fe",
                          "status": "completed"
                        },
                        {
                          "id": "e7665094164c498781ebe4c8db6d2af5",
                          "status": "completed"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/job_statuses/{job_status_id}": {
      "get": {
        "tags": [
          "Job Statuses"
        ],
        "summary": "ShowJobStatus",
        "description": "Shows the status of a background job.\n\n#### Allowed For:\n\n* Agents\n",
        "operationId": "ShowJobStatus",
        "parameters": [
          {
            "name": "job_status_id",
            "in": "path",
            "description": "the Id of the Job status",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "8b726e606741012ffc2d782bcb7848fe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusResponse"
                    },
                    {
                      "example": {
                        "job_status": {
                          "id": "8b726e606741012ffc2d782bcb7848fe",
                          "message": "Completed at Fri Apr 13 02:51:53 +0000 2012",
                          "progress": 2,
                          "results": [
                            {
                              "action": "update",
                              "id": 380,
                              "status": "Updated",
                              "success": true
                            }
                          ],
                          "status": "completed",
                          "total": 2,
                          "url": "https://company.zendesk.com/api/v2/job_statuses/8b726e606741012ffc2d782bcb7848fe.json"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "job_status": {
                        "id": "8b726e606741012ffc2d782bcb7848fe",
                        "message": "Completed at Fri Apr 13 02:51:53 +0000 2012",
                        "progress": 2,
                        "results": [
                          {
                            "action": "update",
                            "id": 380,
                            "status": "Updated",
                            "success": true
                          }
                        ],
                        "status": "completed",
                        "total": 2,
                        "url": "https://company.zendesk.com/api/v2/job_statuses/8b726e606741012ffc2d782bcb7848fe.json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/job_statuses/show_many": {
      "get": {
        "tags": [
          "Job Statuses"
        ],
        "summary": "ShowManyJobStatuses",
        "description": "Accepts a comma-separated list of job status ids.\n\n#### Allowed For:\n\n* Agents\n",
        "operationId": "ShowManyJobStatuses",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of job status ids.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "8b726e606741012ffc2d782bcb7848fe,e7665094164c498781ebe4c8db6d2af5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusesResponse"
                    },
                    {
                      "example": {
                        "job_statuses": [
                          {
                            "id": "8b726e606741012ffc2d782bcb7848fe",
                            "status": "completed"
                          },
                          {
                            "id": "e7665094164c498781ebe4c8db6d2af5",
                            "status": "completed"
                          }
                        ]
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "job_statuses": [
                        {
                          "id": "8b726e606741012ffc2d782bcb7848fe",
                          "status": "completed"
                        },
                        {
                          "id": "e7665094164c498781ebe4c8db6d2af5",
                          "status": "completed"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/automations": {
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "ListAutomations",
        "description": "Lists all automations for the current account.\n\n#### Allowed For\n\n* Agents\n\n#### Available Parameters\n\nYou can pass in any combination of the following optional filters:\n\n| Name       | Type    | Comment\n| ---------- | ------- | -------\n| active     | boolean | Only active automations if true, inactive automations if false\n| sort_by    | string  | Possible values are \"alphabetical\", \"created_at\", \"updated_at\", \"usage_1h\", \"usage_24h\", or \"usage_7d\". Defaults to \"position\"\n| sort_order | string  | One of \"asc\" or \"desc\". Defaults to \"asc\" for alphabetical and position sort, \"desc\" for all others\n\n#### Sideloads\n\nThe following sideloads are supported. The usage sideloads are only supported on the Support Professional or Suite Growth plan or above.\n\n| Name             | Will sideload\n| ---------------- | -------------\n| app_installation | The app installation that requires each automation, if present\n| permissions      | The permissions for each automation\n| usage_1h         | The number of times each automation has been used in the past hour\n| usage_24h        | The number of times each automation has been used in the past day\n| usage_7d         | The number of times each automation has been used in the past week\n| usage_30d        | The number of times each automation has been used in the past thirty days\n\n#### Pagination\n\n- Cursor pagination (recommended)\n- Offset pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n\nReturns a maximum of 100 records per page.\n",
        "operationId": "ListAutomations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationsResponse"
                    },
                    {
                      "example": {
                        "automations": [
                          {
                            "actions": [
                              {
                                "field": "status",
                                "value": "open"
                              },
                              {
                                "field": "assignee_id",
                                "value": "296220096"
                              }
                            ],
                            "active": true,
                            "conditions": {
                              "all": [
                                {
                                  "field": "status",
                                  "operator": "less_than",
                                  "value": "solved"
                                },
                                {
                                  "field": "assignee_id",
                                  "operator": "is",
                                  "value": "296220096"
                                }
                              ],
                              "any": [
                                {
                                  "field": "current_tags",
                                  "operator": "includes",
                                  "value": "hello"
                                }
                              ]
                            },
                            "id": 25,
                            "position": 8,
                            "raw_title": "Close and Save",
                            "title": "Close and Save"
                          },
                          {
                            "actions": [
                              {
                                "field": "status",
                                "value": "open"
                              },
                              {
                                "field": "assignee_id",
                                "value": "296220096"
                              }
                            ],
                            "active": false,
                            "conditions": {
                              "all": [
                                {
                                  "field": "status",
                                  "operator": "less_than",
                                  "value": "solved"
                                },
                                {
                                  "field": "assignee_id",
                                  "operator": "is",
                                  "value": "296220096"
                                }
                              ],
                              "any": [
                                {
                                  "field": "current_tags",
                                  "operator": "includes",
                                  "value": "hello"
                                }
                              ]
                            },
                            "id": 26,
                            "position": 9,
                            "raw_title": "{{dc.assign_priority_tag}}",
                            "title": "Assign priority tag"
                          }
                        ],
                        "count": 2,
                        "next_page": null,
                        "previous_page": null
                      }
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "value": {
                      "automations": [
                        {
                          "actions": [
                            {
                              "field": "status",
                              "value": "open"
                            },
                            {
                              "field": "assignee_id",
                              "value": "296220096"
                            }
                          ],
                          "active": true,
                          "conditions": {
                            "all": [
                              {
                                "field": "status",
                                "operator": "less_than",
                                "value": "solved"
                              },
                              {
                                "field": "assignee_id",
                                "operator": "is",
                                "value": "296220096"
                              }
                            ],
                            "any": [
                              {
                                "field": "current_tags",
                                "operator": "includes",
                                "value": "hello"
                              }
                            ]
                          },
                          "id": 25,
                          "position": 8,
                          "raw_title": "Close and Save",
                          "title": "Close and Save"
                        },
                        {
                          "actions": [
                            {
                              "field": "status",
                              "value": "open"
                            },
                            {
                              "field": "assignee_id",
                              "value": "296220096"
[...]
