Dear {{.Name}},

We received a request to reset your password. If you did not make this request, please ignore this email and take no further action.

If you did request a password reset, please click on the following link to reset your password:

{{.ResetLink}}

This link will expire in 24 hours for security reasons.

For your safety, if you did not request this password reset, please contact our support team immediately.

Thank you for your attention to this matter.

Best regards,
The Support Team
